.bg-custom-footer {
  background-color: #1B2E4B;
  height: 30vh;
  display: flex;
  align-items: center;
}

.footer-logo {
  height: 10vh;     /* Adjust as needed */
  width: auto;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 30px;
  font-size: 1rem;
}

.footer-links a:hover {
  text-decoration: underline;
}
