* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  /* font-family: "Open Sans", "Inter", "Helvetica", sans-serif; */
  font-family: Inter, 'Helvetica', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: "Inter", "Helvetica", sans-serif; */
}
